.App {
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navbar{
  width:100%;
  height:80px;
  background-color: coral;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar .links{
font-size: 25px;
color: white;

}
.links a{
margin: 10px;
text-decoration: none;
color: white;
}

.links a:hover{
  cursor: pointer;
  font-weight: bold;
}

.uploadPost{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 500px;
  border: 2px solid coral;
}

.CreatePost {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh -80px);
}

.uploadPost input {
  width: 80%;
  height: 50px;
  margin: 10px;
  outline: none;
  font-size: 20px;
}

.uploadPost textarea{
  height: 120px;
  width: 80%;
  margin: 10px;
}

button{
  margin: 10px;
}

.MainPage{
  display: flex;
  justify-content: center;
  height: calc(100vh -80px);
 
}

.PostContainer{
  height: calc(100vh -80px);
  width: 60%;
  max-width: 50%;
  padding:30px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: lightblue;
  box-shadow: 2px 1px 8px black;
  border:1px solid lightslategrey
}

.Post{
 width:100%;
 margin-top:20px;
 display: flex;
 flex-direction: column;
 justify-content: flex-start;
 padding-left: 10px;
 border:1px solid lightslategrey;
}



.post-title{
  text-transform: capitalize;
  cursor: pointer;
}

.Post.individual{
  background-color: rgb(170, 164, 162);
  max-width: 60%;
  margin: auto;
  margin-top: 20px;
}

.like_btn{
  width:13%;
  float: left;
  margin-bottom: 10px;
}

/* body {
  display: grid;
  place-content: center;
  height: 100vh;
  background: #333333;
  margin: 0;
  padding: 0;
} */

@media only screen and (max-width: 480px){
  .ball {
  padding: 9px !important;
  font-size: 14px !important; 
  background-color: #F14E95 !important; 
  margin-right: 9px !important
  }

  .ant-anchor-wrapper-horizontal .ant-anchor {
    display: inline-block !important;
  }

  .ant-anchor-wrapper-horizontal .ant-anchor .ant-anchor-ink {
    height: 0px !important;
    background-color: unset !important;
  }
}

.row-bottom-padded-md {
  display: grid  !important;
}
@media only screen and (min-width: 481px) and (max-width: 585px){
  .ant-anchor-wrapper-horizontal .ant-anchor {
    display: inline-block !important;
  }
  
  .ant-anchor-wrapper-horizontal .ant-anchor .ant-anchor-ink {
    height: 0px !important;
    background-color: unset !important;
  }
}

@media only screen and (min-width: 481px) and (max-width: 991px){
  .ball {
  padding: 15px !important;
  font-size: 24px !important; 
  background-color: #F14E95 !important; 
  margin-right: 11px !important
  }

  .heart {
    margin-top: 87px;
    z-index: 0;
}
}

@media only screen and (min-width: 769px){
  .ball {
  padding: 15px !important;
  font-size: 24px !important; 
  background-color: #F14E95 !important; 
  margin-right: 11px !important
  }

  .heart {
    margin-top: 47px;
    z-index: 1;
}
}

@media only screen and (min-width: 576px) and (max-width: 768px) {
  .col-sm-6 {
      flex: 0 0 50% !important;
      max-width: unset !important;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px){
  .col-md-8 {
      flex: 0 0 66.666667%;
      max-width: unset !important;
  }

  /* .row {
    display: ruby-text !important;
  } */
}

@media (max-width: 767px) {
  .ant-modal-root .ant-modal {
      max-width: unset !important;
      margin: 8px auto;
  }
}

@media (max-width: 386px) {
  #part-2 .ant-modal-root .ant-modal {
      max-width: unset !important;
      margin: 8px auto;
  }
  #part-2 .col-md-8 p {
    font-size: 12px;
  }
  #part-2 .col-md-8 h3 {
    font-size: 1.2rem;
  }
  #part-2 .col-md-8 h2 {
    font-size: 30px;
  }

  #part-4 {
    height: 125vh;
  }

  .ball {
    padding: 5px !important;
    font-size: 12px !important; 
    background-color: #F14E95 !important; 
    margin-right: 6px !important
    }
}

#part-6, #part-2, #part-3, #part-4, #part-7 {
  display: flex;
  height: 100% !important;
}
  @media only screen and (min-width: 320px) and (max-width: 386px) {
    /* #part-6 {
      height: 165vh !important;
    } */
    /* #part-5-4 {
      height: 218vh !important;
    } */
  }

  @media only screen and (min-width: 0px) and (max-width: 320px) {
    /* #part-6 {
      height: 125vh !important;
    } */

    /* #part-5-4 {
      height: 212vh !important;
    } */
  }

  /* @media only screen and (min-width: 480px){
    #part-5-4 {
      height: 120vh !important;
    }
  }

  @media only screen and (min-width: 768px) {
    #part-5-4 {
      height: 122vh !important;
    }
  } */

  @media only screen and (min-width: 387px) and (max-width: 786px) {
    /* #part-6 {
      height: 130vh !important;
    } */
  }
@media (max-width: 372px) {
  .ball {
    padding: 3px !important;
    font-size: 11px !important; 
    background-color: #F14E95 !important; 
    margin-right: 4px !important
    }

    #part-4 {
      height: 134vh;
    }
}

/* .story-section .timeline-card:nth-child(2):not(.aos-animate){
width: 0px;
} */
 section {
  overflow: hidden;
 }

.react-images__pager .react-images__frame{
height: auto !important;
border: unset !important;
display: inline-block !important;
border-radius: unset !important;
}
.react-images__view, .react-images__view-wrapper, .react-images__track{
  border: unset !important;
}

.react-images__frame img{
width: auto !important;
max-width: auto !important;
height: auto !important;
  }

.react-images__pager {
  /* padding: 20px !important; */
align-items: center !important;
align-content: center !important;
  }

#part-5-4 img{
 /* width: revert-layer !important;
 max-width: unset !important;
 height: unset !important; */
 border-radius: 11%;
 margin: -27px;
 margin-left: 0px;
 display: flex;
 padding: 0px;
 border: 5px solid snow;

}

.ant-tabs-tabpane img{
  /* width: revert-layer !important;
  max-width: unset !important;
  height: unset !important; */
  border-radius: 11%;
  margin: -22px;
  margin-left: 0px;
  display: unset;
  padding: 5px;
  border: 5px solid white;
 }

 .ant-modal-content {
  padding: 5px 5px !important;
 }
 .ant-tabs-tabpane{
margin-top: 20px;
 }
@media only screen and (min-width: 372px) and (max-width: 479px){
    .heart {
      margin-top: 192px;
      z-index: 1;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(230, 204, 204, 0.831);
}

.overlay-light {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(10, 54, 60, 0.831);
}

.overlay-dark {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(61, 59, 59, 0.4);
}

.ant-modal {
  width: unset !important;
  /* margin: 8px auto; */
}

.ant-modal .ant-modal-body {
  OVERFLOW-Y: scroll;
  height: 432px;
}

.rhap_additional-controls {
  display: none !important;
}

.rhap_progress-section {
  display: none !important;
}

.rhap_container {
border-radius: 50px;
height: 38px !important;
border-radius: 50px !important;
padding: unset !important;

}
.rhap_header {
  position: absolute;
  left: 3%;
  right: 3%;
  padding-top: 12px;
}

.rhap_header p{
  font-size: 10px !important;
}
.rhap_main-controls{
  width: 100% !important;
  z-index: 10 !important;
}
.rhap_volume-indicator {
  display: none !important;

}

.rhap_main-controls svg{
  display: none !important;

}

.rhap_main-controls button{
  width: 100% !important;
}

.ball {
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  position: relative;
  background: radial-gradient(circle at bottom, #81e8f6, #76deef 10%, #055194 80%, #062745 100%); }
  .ball:before {
    content: "";
    position: absolute;
    top: 1%;
    left: 5%;
    width: 90%;
    height: 90%;
    border-radius: 100%;
    background: radial-gradient(circle at top, white, rgba(255, 255, 255, 0) 58%);
    -webkit-filter: blur(5px);
    filter: blur(5px);
    z-index: 2; }
  .ball:after {
    content: "";
    position: absolute;
    display: none;
    top: 5%;
    left: 10%;
    width: 80%;
    height: 80%;
    border-radius: 100%;
    -webkit-filter: blur(1px);
    filter: blur(1px);
    z-index: 2;
    -webkit-transform: rotateZ(-30deg);
    transform: rotateZ(-30deg); }
  .ball .shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0) 50%);
    -webkit-transform: rotateX(90deg) translateZ(-160px);
    transform: rotateX(90deg) translateZ(-160px);
    z-index: 1; }
  .ball.plain {
    background: black; }
    .ball.plain:before, .ball.plain:after {
      display: none; }
  .ball.bubble {
    background: radial-gradient(circle at 50% 55%, rgba(240, 245, 255, 0.9), rgba(240, 245, 255, 0.9) 40%, rgba(225, 238, 255, 0.8) 60%, rgba(43, 130, 255, 0.4));
    -webkit-animation: bubble-anim 5s ease-out infinite;
    animation: bubble-anim 5s ease-out infinite; }
    .ball.bubble:before {
      -webkit-filter: blur(0);
      filter: blur(0);
      height: 80%;
      width: 40%;
      background: radial-gradient(circle at 130% 130%, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0) 46%, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0.8) 58%, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 0) 100%);
      -webkit-transform: translateX(131%) translateY(58%) rotateZ(168deg) rotateX(10deg);
      transform: translateX(131%) translateY(58%) rotateZ(168deg) rotateX(10deg); }
    .ball.bubble:after {
      display: block;
      background: radial-gradient(circle at 50% 80%, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 74%, white 80%, white 84%, rgba(255, 255, 255, 0) 100%); }

.stage {
  /* width: 300px;
  height: 300px; */
  display: inline-block;
  /* margin: 20px; */
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  -ms-perspective: 1200px;
  -o-perspective: 1200px;
  perspective: 1200px;
  -webkit-perspective-origin: 50% 50%;
  -moz-perspective-origin: 50% 50%;
  -ms-perspective-origin: 50% 50%;
  -o-perspective-origin: 50% 50%;
  perspective-origin: 50% 50%;
}

@-webkit-keyframes bubble-anim {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }

  20% {
    -webkit-transform: scaleY(0.95) scaleX(1.05);
    transform: scaleY(0.95) scaleX(1.05); }

  48% {
    -webkit-transform: scaleY(1.1) scaleX(0.9);
    transform: scaleY(1.1) scaleX(0.9); }

  68% {
    -webkit-transform: scaleY(0.98) scaleX(1.02);
    transform: scaleY(0.98) scaleX(1.02); }

  80% {
    -webkit-transform: scaleY(1.02) scaleX(0.98);
    transform: scaleY(1.02) scaleX(0.98); }

  97%, 100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes bubble-anim {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }

  20% {
    -webkit-transform: scaleY(0.95) scaleX(1.05);
    transform: scaleY(0.95) scaleX(1.05); }

  48% {
    -webkit-transform: scaleY(1.1) scaleX(0.9);
    transform: scaleY(1.1) scaleX(0.9); }

  68% {
    -webkit-transform: scaleY(0.98) scaleX(1.02);
    transform: scaleY(0.98) scaleX(1.02); }

  80% {
    -webkit-transform: scaleY(1.02) scaleX(0.98);
    transform: scaleY(1.02) scaleX(0.98); }

  97%, 100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

.shake {
  animation: horizontal-shaking 2.35s infinite;
}
    
@keyframes vertical-shaking {
  0% { transform: translateY(0) }
  25% { transform: translateY(5px) }
  50% { transform: translateY(-5px) }
  75% { transform: translateY(5px) }
  100% { transform: translateY(0) }
}

@keyframes horizontal-shaking {
  0% { transform: translateX(0) }
  25% { transform: translateX(5px) }
  50% { transform: translateX(-5px) }
  75% { transform: translateX(5px) }
  100% { transform: translateX(0) }
}

@keyframes jump-shaking {
  0% { transform: translateX(0) }
  25% { transform: translateY(-9px) }
  35% { transform: translateY(-9px) rotate(17deg) }
  55% { transform: translateY(-9px) rotate(-17deg) }
  65% { transform: translateY(-9px) rotate(17deg) }
  75% { transform: translateY(-9px) rotate(-17deg) }
  100% { transform: translateY(0) rotate(0) }
}

@keyframes skew-x-shake {
  0% { transform: skewX(-15deg); }
  5% { transform: skewX(15deg); }
  10% { transform: skewX(-15deg); }
  15% { transform: skewX(15deg); }
  20% { transform: skewX(0deg); }
  100% { transform: skewX(0deg); }  
}

@keyframes skew-y-shake {
  0% { transform: skewY(-15deg); }
  5% { transform: skewY(15deg); }
  10% { transform: skewY(-15deg); }
  15% { transform: skewY(15deg); }
  20% { transform: skewY(0deg); }
  100% { transform: skewY(0deg); }  
}